html,
body{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.main{
    max-width: 1920px;
    width: 100%;
    background-image: url(../images/main-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Header start */

.main__header{
    width: 100%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 100px;
}

.main__header-wrapper{
    max-width: 1310px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.main__header-nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.main__header-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 800px;
    width: 100%;
}

.main__header-list-item{
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
}

/* Mobile menu */

.main__header-burger{
    display: none;
    width: 40px;
    height: 35px;
    cursor: pointer;
    position: relative;
    z-index: 11;
}

.burger-item{
    -webkit-transition: linear 200ms;
    -o-transition: linear 200ms;
    transition: linear 200ms;
}

.mobile__menu-active .item-1{
    -webkit-transform: rotateZ(-45deg) translate(-10px, 7px);
        -ms-transform: rotate(-45deg) translate(-10px, 7px);
            transform: rotateZ(-45deg) translate(-10px, 7px);
}

.mobile__menu-active .item-2{
    opacity: 0;
}

.mobile__menu-active .item-3{
    -webkit-transform: rotateZ(45deg) translate(-10px, -7px);
        -ms-transform: rotate(45deg) translate(-10px, -7px);
            transform: rotateZ(45deg) translate(-10px, -7px);
}

.main__header-burger-container{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}  

.burger-item{
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.mobile__menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 30%;
    text-align: center;
    background-color: #152185;
    z-index: 10;
    -webkit-transition: linear 200ms;
    -o-transition: linear 200ms;
    transition: linear 200ms;
}

.mobile__menu-active-list{
    top: 0;
}

.main__header-list-mobile{
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}


/* Header end */

/* Content start */

.main__content-wrapper{
    max-width: 1310px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding: 0 10px;
}

.main__content-wrapper:after{
    content: '';
    position: absolute;
    bottom: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 20px;
    height: 26px;
    background-image: url(../images/icon/main-scroll.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}



.main__content__offer,
.main__content__directors{
    width: 50%;
    margin-bottom: 100px;
}

.main__content-title{
    font-size: 32px;
    font-weight: bold;
    line-height: 45px;
    color: #fff;
    margin-bottom: 35px;
}

.main__content-button{
    font-size: 17px;
    font-weight: bold;
    line-height: 19px;
    color: #000;
    background: #FCD006;
    border-radius: 100px;
    padding: 15px 64px;
    cursor: pointer;
    -webkit-transition: linear 200ms;
    -o-transition: linear 200ms;
    transition: linear 200ms;
}

.main__content-button:hover{
    background: #fcea16;
}

.main__content__slider{
    position: relative;
    outline: none;
}

.slick-arrow{
    border: none;
    background: none;
    font-size: 0;
    width: 10px;
    height: 18px;
    position: absolute;
    top: 30%;
    outline: none;
    z-index: 5;
    cursor: pointer;
}

.slick-prev{
    left: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/icon/main-arrow-left.png);
}

.slick-next{
    right: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/icon/main-arrow-right.png);
}

.main__content-slide-img{
    margin: 0 auto;
    margin-bottom: 22px;
    outline: none;
}

.main__content-slide-text{
    color: #fff;
    width: 100%;
    text-align: center;
}

.main__content-slide-subtitle{
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 17px;
}

.main__content-slide-descr{
    font-size: 15px;
    font-style: italic;
    font-weight: normal;
    line-height: 20px;
    padding: 30px;
    position: relative;
    width: 85%;
    margin: 0 auto;
}

.main__content-slide-descr::before{
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    left: 0;
    top: 0;
    background-image: url(../images/icon/main-slide-quotes-left.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.main__content-slide-descr::after{
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    right: 0;
    bottom: 0;
    background-image: url(../images/icon/main-slide-quotes-right.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
/* Content end */

/* Statistics start*/

.statistics{
    background: #fff;
    position: relative;
    padding-bottom: 110px;
    position: relative;
}

.statistics:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 227px;
    height: 221px;
    background-image: url(/images/icon/puzzle-orange.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.statistics:after{
    content: '';
    position: absolute;
    top: 32px;
    right: 7.5px;
    background-image: url(../images/icon/puzzle-orange.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.statistics__wrapper{
    max-width: 1310px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 10px;
}

.statistics__title{
    padding-top: 100px;
    color: #000;
    font-size: 28px;
    line-height: 33px;
    font-weight: bold;
    margin-bottom: 73px;
}

.statistics__cards{
    height: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #fff;
    -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.statistics__card{
    padding: 27px 0;
    max-width: 322.5px;
    width: 100%;
}

.statistics__card:not(:last-child){
    border-right: 1px solid #FCD006;
}

.statistics__num{
    font-size: 90px;
    color: #3749AB; 
    margin-bottom: 11px; 
}

.statistics__num-item{
    font-size: 18px;
    font-weight: normal;
}

/* Statistics end */

/* Capabilities start */
.capabilities{
    background-image: url(../images/capabillities-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 105px;
}

.capabilities__wrapper{
    max-width: 1310px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 10px;
}

.capabilities__title{
    padding-top: 100px;
    font-size: 28px;
    font-weight: bold;
    color: #FFF;
    margin-bottom: 73px;
}

.capabilities__cards{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}

.padding_sub{
    padding: 0 30px;
}

.capabilities__card{
    text-align: center;
    max-width: 300px;
    width: 100%;
}

.capabilities__card-img{
    margin-bottom: 19px;
}

.capabilities__card-subtitle{
    font-style: 18px;
    font-weight: normal;
    color: #fff;
    line-height: 23px;
}

/* Criteria start */
.criteria{
    position: relative;
}

.criteria:before{
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 215px;
    height: 160px;
    background-image: url(/images/icon/puzzle-green.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.criteria__wrapper{
    max-width: 1310px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 10px;
    padding-bottom: 110px;
}

.criteria__title{
    padding-top: 100px;
    font-size: 28px;
    font-weight: bold;
    color: #000;
    margin-bottom: 73px;
}

.criteria__cards{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.criteria__card{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 630px;
    width: 100%;
    height: 185px;
    -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 0 60px;
}

.criteria__card-num-big{
    color: #96DE16;
    font-weight: bold;
    font-size: 120px;
    line-height: 158px;
}

.criteria__card-num-small{
    color: #96DE16;
    font-weight: bold;
    font-size: 90px;
    line-height: 120px;
}

.criteria__card-text{
    padding-left: 44px;
    font-weight: normal;
    font-size: 18px;
}

/* Criteria end */

/* Directions start */

.directions{
    padding-top: 100px;
    padding-bottom: 110px;
    background-color: #2F0057;
}

.directions__wrapper{
    max-width: 1310px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 10px;
}

.directions__title{
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #fff;
    margin-bottom: 54px;
}

.tabs__header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 686px;
    width: 100%;
    margin-bottom: 25px;
}

.tab{
    color: #fff;
    opacity: .5;
    font-weight: bold;
    font-size: 20px;
    line-height: 45px;
    -webkit-transition: linear 200ms;
    -o-transition: linear 200ms;
    transition: linear 200ms;
}

.tab:hover{
    cursor: pointer;
    opacity: 1;
}

.directions__tabs-panel{
    display: none;
    -webkit-transition: linear 200ms;
    -o-transition: linear 200ms;
    transition: linear 200ms;
    width: 100%;
    text-align: left;
}

.directions__tabs-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.directions__operations-text,
.directions__marketing-text,
.directions__HR-text,
.directions__logistic-text{
    width: 60%;
}

.directions-tabs-img{
    position: relative;
    padding-right: 7%;
}

.directions-tabs-img:after{
    content: '';
    position: absolute;
    top: 50%;
    right: -10px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 16px;
    height: 128px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.directions__operations-img:after{
    background-image: url(../images/icon/boolits-tabs-1.png);
}

.directions__marketing-img:after{
    background-image: url(../images/icon/boolits-tabs-2.png);
}

.directions__HR-img:after{
    background-image: url(../images/icon/boolits-tabs-3.png);
}

.directions__logistic-img:after{
    background-image: url(../images/icon/boolits-tabs-4.png);
}

.directions__presintations-img:after{
    background-image: url(../images/icon/boolits-tabs-5.png);
}


.active{
    display: block;
    opacity: 1;
}

.directions__tabs-list{
    margin-bottom: 10px;
}

.directions__tabs-item{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    line-height: 200%;
    color: #fff;
    margin-bottom: 5px;
}

.directions__tabs-list-item{
    font-weight: bold;
    font-size: 15px;
    line-height: 200%;
    color: #fff;
}

.marketing-margin{
    margin-bottom: 5px;
}


.directions__tabs-item-download{
    color: #fff;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 45px;
    margin-bottom: 15px;
}

.directions__tabs-btn-download{
    font-size: 17px;
    font-weight: bold;
    line-height: 19px;
    background: #FCD006;
    border-radius: 100px;
    padding: 15px 64px;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: linear 200ms;
    -o-transition: linear 200ms;
    transition: linear 200ms;
}

.directions__tabs-btn-download:hover{
    background: #fcea16;
}

/* Directions end */

/* Team start */
.team{
    padding-bottom: 50px;
    position: relative;
}

.team:before{
    content: '';
    position: absolute;
    top: -60px;
    right: 10px;
    width: 190px;
    height: 190px;
    background-image: url(/images/icon/puzzle-violet.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.team__wrapper{
    max-width: 1310px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 10px;
}

.team__title{
    margin-top: 100px;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    margin-bottom: 72px;
}

.team__slider{
    height: 350px;
}

.team__slider .slick-list{
    height: 350px;
}

.team__slide{
    position: relative;
}

.slick-slide:focus {
    outline: none;
}

.team__slide-img{
    margin: 0 auto;
    width: 224px;
    height: 224px;
    margin-bottom: 20px;
    -webkit-transition: linear 200ms;
    -o-transition: linear 200ms;
    transition: linear 200ms;
}

.team__slide-text{
    display: none;
    position: absolute;
    width: 206px;
    height: 100px;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
}

.team__slide-name{
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
}

.team__slide-position{
    font-weight: normal;
    font-size: 15px;
}

.team__slide:hover .team__slide-img{
    width: 235px;
    height: 235px;
}

.team__slide:hover .team__slide-text{
    display: block;
}

.team__slider .slick-arrow{
    top: 35%;
}

.team__slider .slick-prev{
    left: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/icon/team-arrow-left.png);
}

.team__slider .slick-next{
    right: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/icon/team-arrow-right.png);
}


/* Team end */

/* Footer start */
.footer{
    background-color: #26358B;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer__wrapper{
    max-width: 1310px;
    width: 100%;
    margin: 0 auto; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 10px;
}

.footer__logo-img{
    margin-bottom: 18px;
}

.footer__logo-text{
    color: #fff;
    font-weight: normal;
    font-size: 13px;
}

.main__footer-list-link{
    font-weight: normal;
    font-size: 18px;
    line-height: 185%;
}

.footer__contacts-title{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 9px;
}

.footer__contacts-link{
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #00AAFF;
}

.footer__contacts-mail{
    margin-bottom: 30px;

}

.footer__contacts-button{
    font-size: 17px;
    font-weight: bold;
    line-height: 19px;
    color: #000;
    background: #FCD006;
    border-radius: 100px;
    padding: 15px 64px;
    cursor: pointer;
    -webkit-transition: linear 200ms;
    -o-transition: linear 200ms;
    transition: linear 200ms;
    margin-bottom: 20px;
}

.footer__contacts-button:hover{
    background: #fcea16;
}

.footer__contacts-social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 200px;
    margin-top: 30px;
}

.footer__contacts-social-item{
    transition: linear 200ms;
}

.footer__contacts-social-item:hover{
    opacity: .8;
}
/* Footer end */

@media (max-width: 1300px) {
    .main__header{
        margin-bottom: 80px;
    }

    .main__content-title{
        font-size: 28px;
    }

    .main__content-slide-img{
        width: 60%;
    }

    .main__content-slide-subtitle{
        font-size: 18px;
    }

    .main__content-slide-descr{
        font-size: 14px;
        width: 100%;
        margin: 0;
    }

    .statistics {
        padding-bottom: 90px;
    }

    .statistics__title {
        padding-top: 80px;
    }

    .statistics__cards{
        height: 200px;
        width: 90%;
        margin: 0 auto;
    }

    .statistics__card{
        padding: 15px 5px;
    }

    .statistics__num{
        font-style: 80px;
    }

    .statistics:before {
        width: 215px;
        height: 200px;
    }

    .capabilities {
        padding-bottom: 85px;
    }

    .capabilities__title {
        padding-top: 80px;
    }

    .criteria__title {
        padding-top: 80px;
    }

    .criteria__card{
        max-width: 48%;
        padding: 0 20px;
    }

    .criteria__wrapper {
        padding-bottom: 90px;
    }

    .directions {
        padding-top: 80px;
        padding-bottom: 90px;
    }

    .boolits-img{
        width: 80%;
    }

    .directions__operations-text,
    .directions__marketing-text,
    .directions__HR-text,
    .directions__logistic-text{
        width: 55%;
    }

    .directions-tabs-img:after{
        right: 10px;
    }

    .team {
        padding-bottom: 0px;
    }

    .team:before {
        top: -70px;
        width: 175px;
        height: 175px;
    }

    .team__title {
        margin-top: 80px;
    }

    .team__slide-img {
        width: 180px;
        height: 180px;
    }

    .team__slide-text{
        position: absolute;
        width: 206px;
        height: 100px;
        bottom: -100px;
    }
    
    .team__slide:hover .team__slide-img{
        width: 190px;
        height: 190px;
    }

    .team__slider .slick-arrow{
        top: 25%;
    }
    
}

@media (max-width: 1024px) {
    .main__header-list-item{
        font-size: 16px;
    }

    .team__slider{
        height: 200px;
    }

    .team__slider .slick-list{
        height: 200px;
    }

    .team{
        padding-bottom: 35px;
    }

    .team__slide:hover .team__slide-img{
        width: 190px;
        height: 190px;
        outline: none;
    }

    .team__slider .slick-arrow {
        top: 30%;
    }

    .team__slide-name{
        font-size: 15px;
    }

    .team__slide-position{
        font-size: 14px;
    }

    .team__slider{
        height: 280px;
    }

    .team__slider .slick-list{
        height: 280px;
    }
}

@media (max-width: 1020px) {
    .main__header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 15;
        background-color: #1b2085;
    }

    .main__header {
        margin-bottom: 40px;
    }

    .main__header-list{
        display: none;
    }

    .main__header-burger{
        display: block;
    }

    .main__content-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .main__content__offer{
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
        padding-top: 75px;
    }

    .main__content-title {
        font-size: 30px;
        max-width: 70%;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .statistics__num {
        font-size: 50px;
    }

    .statistics__title {
        padding-top: 50px;
        margin-bottom: 50px;
    }

    .statistics:before {
        width: 100px;
        top: -46px;
    }

    .statistics__num-item {
        font-size: 14px;
    }

    .statistics {
        padding-bottom: 50px;
    }

    .capabilities {
        padding-bottom: 50px;
    }

    .capabilities__title {
        padding-top: 50px;
        margin-bottom: 50px;
    }

    .capabilities__card-subtitle{
        font-size: 14px;
    }

    .capabilities__cards {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .capabilities__card{
        margin-bottom: 10px;
    }

    .criteria:before {
        left: 6px;
        width: 139px;
    }

    .criteria__cards {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .criteria__card{
        max-width: 100%;
    }

    .team__slide-img {
        width: 145px;
        height: 145px;
    }

    .team:before {
        top: -75px;
        width: 100px;
        height: 175px;
    }

    .team__slide:hover .team__slide-img{
        width: 160px;
        height: 160px;
        outline: none;
    }

    .team__slider .slick-arrow {
        top: 22%;
    }

    .criteria__title {
        padding-top: 50px;
        margin-bottom: 50px;
    }

    .criteria:before {
        top: -12px;
        width: 126px;
    }

    .team__title{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .slick-arrow{
        top: 22%;
    }

}

@media (max-width: 768px){
    .team {
        padding-bottom: 0;
    }

    .team__slider{
        height: 260px;
    }

    .team__slider .slick-list{
        height: 260px;
    }

    .team__slider .slick-arrow {
        top: 25%;
    }
}



@media (max-width: 767px) {
    .main__content-title {
        font-size: 23px;
        max-width: 90%;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .main__content__directors{
        width: 70%;
    }

    .main__content-slide-img{
        width: 85%;
    }

    .slick-arrow{
        top: 20%;
    }

    .slick-next{
        right: -10px;
    }

    .slick-prev{
        left: -10px;
    }

    .statistics:before{
        display: none;
    }

    .criteria:before{
        display: none;
    }

    .team:before{
        display: none;
    }

    .directions__operations-img{
        display: none;
    }

    .directions__operations-text,
    .directions__marketing-text,
    .directions__HR-text,
    .directions__logistic-text{
        width: 90%;
    }

    .tab{
        font-size: 14px;
    }

    .team__slide-img{
        width: 140px;
        height: 140px;
    }

    .team__slide:hover .team__slide-img{
        width: 150px;
        height: 150px;
    }

    .team__slider .slick-arrow {
        top: 17%;
    }

    .main__footer-list{
        display: none;
    }

    .footer__contacts{
        text-align: right;
    }

    .footer__contacts-button{
        display: none;
    }

    .statistics__cards{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: auto;
    }

    .statistics__card:not(:last-child){
        border-right: none;
    }

    .directions-tabs-img{
        display: none;
    }

    
}

@media (max-width: 500px) {
    .team__slide-img{
        width: 110px;
        height: 110px;
    }

    .team__slide:hover .team__slide-img{
        width: 120px;
        height: 120px;
    }

    .team__slider .slick-arrow {
        top: 17%;
    }
}

@media (max-width: 420px) {

    .tabs__header{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .criteria__card-num-big{
        font-size: 40px;
    }

    .criteria__card-num-small{
        font-size: 40px;
    }

    .criteria__card-text{
        font-size: 14px;
        padding-left: 10px;
    }

    .criteria__card{
        height: 95px;
        margin-bottom: 20px;
    }

    .statistics__title {
        padding-top: 20px;
        margin-bottom: 20px;
    }

    .statistics {
        padding-bottom: 20px;
    }

    .capabilities__title {
        padding-top: 20px;
        margin-bottom: 20px;
    }

    .capabilities {
        padding-bottom: 20px;
    }

    .criteria__title {
        padding-top: 20px;
        margin-bottom: 20px;
    }

    .criteria__wrapper {
        padding-bottom: 20px;
    }

    .directions {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .directions__title {
        margin-bottom: 20px;
    }

    .team__title {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .team {
        padding-bottom: 20px;
    }

    .main__content__slider .slick-arrow {
        top: 17%;
    }

    .team__slide-name {
        font-size: 12px;
    }

    .team__slide-position{
        font-size: 12px;
    }

    .team__slider{
        height: 100px;
    }

    .team__slider{
        height: 200px;
    }

    .team__slider .slick-list{
        height: 200px;
    }

    .team{
        padding-bottom: 10px;
    }

    .main__content__offer, .main__content__directors {
        margin-bottom: 50px;
    }

    .footer__wrapper{
        flex-direction: column;
    }

    .footer__contacts-title{
        display: none;
    }

    .footer__contacts-mail{
        display: none;
    }

    .footer__contacts-social{
        width: 100%;
        padding: 0 20px;
    }
}